@keyframes pulse {
  0% {
    opacity: 0;
  }
  50%   {
    opacity: .3;
  }

  100% {
    opacity: 0;
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-color: #F0B90B;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
