.root-container {
  padding-top: 20px;
  display: flex;
  overflow: hidden;
}

.animate {
  transform: translateX(0);
  transition: transform 4s ease;
  width: 100vw;
  flex-shrink: 0;
}

.animate--leave {
  transform: translateX(-100%);
}

.animate--appear {
  transform: translateX(100%);
}
