.header {
    display: flex;
}

.item {
    margin-right: 10px;
    padding: 20px;
    border-bottom: 1px solid red;
    cursor: pointer;
    transform: translateY(0);
    transition: transform .2s ease-in;
}

.item:hover {
    transform: translateY(-2px);
}
