.table {
  padding: 5px;
  border: 1px solid #cccccc;
}

.header,
.body {
  padding: 5px;
}

.header {
  background-color: aliceblue;
  position: sticky;
  height: 40px;
  line-height: 40px;
}

.body {
  background-color: beige;
  display: flex;
  height: calc(100% - 40px);
  flex-direction: column;
}

.row {
  display: flex;
  height: 30px;
  line-height: 30px;
}

.row:hover {
  background-color: #ccc;
  cursor: default;
}
